body {
    text-align: center;
    font-family: 'Roboto' , sans-serif;
    background-color: rgb(243, 221, 255);
}

h1 {
    font-size: 90px;
    color: rgb(130, 5, 197);
}

img {
    width: 500px;
}

main {
    width: 850px;
    padding: 40px 30px;
    border: 1px solid rgb(182, 47, 255);
    border-radius: 10px;
    margin: 75px auto 30px auto;
    text-align: left;
    background-color: rgb(182, 47, 255);
    color: white;
    font-size: 20px;
}
 
h2 {
    font-size: 30px;
}

ul {
    list-style: None;
}

a {
    background-color: rgb(253, 241, 103);
    text-decoration: None;
    padding: 2px;
    border: 1px solid rgb(253, 241, 103);
    border-radius: 8px;
    
}

a:hover {
    text-decoration: None;
    background-color: rgb(243, 230, 84);
}

.highlight {
    color: rgb(233, 233, 13);
}

#document {
    background-color: yellow;
    padding: 10px;
    border: 1px solid yellow;
    border-radius: 10px;
}

#tag {
    margin-top: 30px;
    color: gray;
}